station.berserkbrah.com {
    @picker path /webhook /current
    handle @picker {
        reverse_proxy picker:9000
    }
    handle {
        header Access-Control-Allow-Origin "*" {
            defer
        }
        reverse_proxy icecast:8000
    }
}
